Naveen/Webservice/wsdl/newwsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1658573505743" xmlns:ns0="http://www.tibco.com/schemas/Naveen/Webservice/schema/Schema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1658573505743">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/Naveen/Webservice/schema/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Naveen/Webservice/schema/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="city" type="xs:string"/>
            <xs:element name="empid" type="xs:string"/>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:empid" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="responce">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:id" minOccurs="0"/>
                        <xs:element ref="ns0:name" minOccurs="0"/>
                        <xs:element ref="ns0:salary" minOccurs="0"/>
                        <xs:element ref="ns0:city" minOccurs="0"/>
                        <xs:element ref="ns0:state" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="salary" type="xs:int"/>
            <xs:element name="state" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Service">
        <wsdl:port name="empporttypeHTTP" binding="tns:empporttypeHTTPBinding">
            <soap:address location="http://localhost:8900/Webservice/soapservice/Service.serviceagent/empporttypeHTTP"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="Operation">
            <wsdl:input message="tns:ReqMessage"/>
            <wsdl:output message="tns:resMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="empporttypeHTTPBinding" type="tns:PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation">
            <soap:operation style="rpc" soapAction="/Webservice/soapservice/Service.serviceagent/empporttypeHTTP/Operation"/>
            <wsdl:input>
                <soap:body use="literal" parts="id"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="ReqMessage">
        <wsdl:part name="id" element="ns0:request"/>
    </wsdl:message>
    <wsdl:message name="resMessage">
        <wsdl:part name="part1" element="ns0:responce"/>
    </wsdl:message>
</wsdl:definitions>